@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smartender Application</h1>
    <p class="lead">Hello! This is a data driven application that allows you to view cocktails and their recipes based on the type of alcohol you choose.</p>
    <p>@Html.ActionLink("View All Cocktails!","Index","Cocktails", null, new { @class = "btn btn-primary btn-large" })</p>
</div>
<div>
    <h2>Start by selecting your alcohol below:</h2>
    <h4>Or if you're feeling adventurous</h4>
    <h5>Click here for a random drink:</h5>
    <p>@Html.ActionLink("Surprise me!", "Random", "Cocktails", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Vodka</h3>
        <a href="~/Cocktails/Vodka">
            <img src="~/Smartender images/Vodka.jpg"
                 class="alcohol-img" alt="Image of Vodka" />
        </a>
        

    </div>
    <div class="col-lg-6">
        <h3>Whiskey</h3>
        <a href="~/Cocktails/Whiskey">
            <img src="~/Smartender images/Whiskey.jpg"
                 class="alcohol-img" alt="Image of Whiskey" />
        </a>
    </div>
    <div class="col-lg-6">
        <h3>Tequila</h3>
        <a href="~/Cocktails/Tequila">
            <img src="~/Smartender images/Tequila.jpg"
                 class="alcohol-img" alt="Image of Tequila" />
        </a>
    </div>
    <div class="col-lg-6">
        <h3>Gin</h3>
        <a href="~/Cocktails/Gin">
            <img src="~/Smartender images/Gin.jpg"
                 class="alcohol-img" alt="Image of Gin" />
        </a>
    </div>
    <div class="col-lg-6">
        <h3>Rum</h3>
        <a href="~/Cocktails/Rum">
            <img src="~/Smartender images/Rum.jpg"
                 class="alcohol-img" alt="Image of Rum" />
        </a>
    </div>

    
</div>