.drink-img {
    max-width: 300px;
    max-height: 450px;
}
.table-image{
    float: left;
}
.cocktail-name{
    font-weight:bold;
    font-size:30px;
}
.table-font{
    font-weight:bold;
    padding-top: 20px;
}
.alcohol-img{
    max-width: 200px;
    max-height: 250px;
}
